<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>VueJS Tutorials</title>
        <link href="styles.css" rel="stylesheet" />
        <script src="https://unpkg.com/vue"></script>
    </head>
    <body>
        <div id="vue-app">
           <h1>Events</h1>
           <p>My age is : {{age}}</p>
           <button v-on:click="age++">Add a year</button>
           <button @click="age--">Subtract a year</button>
           <button v-on:click="add">Add a year from function</button>
           <button @click="subtract">Subtract a year from function</button>
           <button @click.once="age++">Add a year once</button>

           <h1>Two-Way Data Binding</h1>
           <input type="text" v-model="name"/>
           <p>My name is {{name}}</p>

           <h1>Computed Properties</h1>
           <p>a= {{a}}</p>
           <button @click="a++">Add to a</button>
           <p>Age + a = {{addToA}}</p>

           <h1>Dynamic CSS</h1>
           <h3>Example 1</h3>
           <div v-on:click="available = !available" v-bind:class="{available: available}">
            <span>Vacancy</span>
           </div>

           <h3>Example 2</h3>
           <button @click="available=!available">Toggle Available</button>
           <button @click="nearby=!nearby">Toggle Nearby</button>
           <div v-bind:class="compClasses">
            <span>Vacancy</span>
           </div>
           
           <h1>Conditionals</h1>
           <button @click="success=!success">Toggle success</button>
           <button @click="error=!error">Toggle Error</button>
           <p v-if="error">Error using v-if</p>
           <p v-show="success">Success using v-show</p>
        </div>
    </body>
    <script src="app.js"></script>
</html>